* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.display {
  background-color: gray;
  font-weight: bold;
  color: white;
  height: 100px;
  text-align: right;
  font-size: 80px;
  padding: 10px;
}

.row1, .row2, .row3, .row4, .row5 {
  display: flex;
}

.normal {
  width: 25%;
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.wide {
  width: 50%;
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}